html {
  font-size: 100%;
}
@media all and (max-width: 620px) {
  html {
    font-size: 150%;
  }
}

body {
  font-family: "museo-sans", sans-serif;
  font-size: 100%;
  background-color: #efefef;
  /*background: url('../../pattern/textured_paper.png') repeat;*/
  color: darkslategrey;
  min-width: 400px;
  overflow-x: hidden;
}
@media all and (max-width: 620px) {
  body {
    margin: 0;
    padding: 0;
  }
}
@media all and (max-width: 800px) {
  body {
    font-size: 1.2rem;
  }
}

/**
* @description main container for all sections
*
* @markup
*   <div class="main-wrapper"></div>
*/
.main-wrapper {
  width: 900px;
  margin: 100px auto 0 auto;
  height: 100%;
  background-color: #efefef;
}
@media all and (max-width: 1000px) {
  .main-wrapper {
    width: 100%;
  }
}
@media all and (max-width: 800px) {
  .main-wrapper {
    width: 900px;
    margin: 50px auto 0 auto;
    height: auto;
    padding: 0;
    z-index: 997;
    float: left;
    position: absolute;
  }
}
@media all and (max-width: 800px) and (max-width: 1000px) {
  .main-wrapper {
    width: 100%;
  }
}

/**
* @description container for individual section
*
* @markup
*   <div class="main-content-section"></div>
*/
.main-content-section {
  clear: both;
  width: 100%;
  height: auto;
  float: left;
  margin: 0 0 10px 0;
  padding: 0 0 100px 0;
}
@media all and (max-width: 800px) {
  .main-content-section {
    position: static;
    float: left;
    left: 0px;
    top: 0px;
    width: 98%;
    height: auto;
    z-index: 999;
    margin: 0;
    padding: 0 1%;
  }
}
@media all and (max-width: 620px) {
  .main-content-section {
    position: static;
    float: left;
    left: 0px;
    top: 0px;
    width: 98%;
    height: auto;
    z-index: 999;
    margin: 0;
    padding: 0 1%;
  }
}

p, a {
  font-size: .8rem;
}
@media all and (max-width: 800px) {
  p, a {
    font-size: 1.2rem;
  }
}

.horizontal-lines {
  height: 0px;
  border-top: 2px solid #d1d1d1;
  border-bottom: 2px solid white;
  display: block;
}

.vertical-lines {
  width: 0px;
  border-left: 1px solid white;
  border-right: 1px solid #d1d1d1;
  display: block;
}

/**
* @description contains the website logo
*
* @markup
*   <div class="logo"></div>
*
*/
.logo {
  background: url("../../images/crivas-logo@2x.png") no-repeat;
  background-size: 151px 80px;
  width: 151px;
  height: 80px;
  display: inline-block;
  float: left;
}
@media all and (max-width: 1000px) {
  .logo {
    margin: 0 0 0 15px;
  }
}
@media all and (max-width: 800px) {
  .logo {
    background-size: 132.125px 70px;
    width: 132.125px;
    height: 70px;
  }
}

/**
* @description resusable launch button
*
* @markup
*   <div class="launch"></div>
*/
.launch {
  display: block;
  height: 40px;
  padding: 5px;
  margin: 0;
}
.launch a {
  cursor: pointer;
  color: #EEEEEE;
  text-decoration: none;
  background-color: #333333;
  padding: 10px;
  background-repeat: repeat;
  background-image: url("../../pattern/tweed.png");
  -webkit-box-shadow: 0px 0px 3pxpx 3pxpx black;
  -moz-box-shadow: 0px 0px 3pxpx 3pxpx black;
  box-shadow: 0px 0px 3pxpx 3pxpx black;
}
@media all and (max-width: 620px) {
  .launch a {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
  }
}
.launch a:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #cb3429;
  padding: 10px;
  background-repeat: repeat;
  background-image: url("../../pattern/tweed-over.png");
  margin: 0px;
  -webkit-box-shadow: 0px 0px 3pxpx 3pxpx black;
  -moz-box-shadow: 0px 0px 3pxpx 3pxpx black;
  box-shadow: 0px 0px 3pxpx 3pxpx black;
}
@media all and (max-width: 620px) {
  .launch a:hover {
    padding: 10px 0;
    margin: 0 auto;
  }
}

/**
  * @description contains two elements: a h2 and an icon element
  *
  * @markup
  *   <div class="icon-and-title"></div>
  */
.icon-and-title {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: 90px;
  line-height: 90px;
  margin-left: 0px;
}
@media all and (max-width: 800px) {
  .icon-and-title {
    padding: 0 5%;
    width: 89%;
    margin: 30px 0 0 0;
  }
}
.icon-and-title .section-icon {
  vertical-align: middle;
}
.icon-and-title h2 {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 15px;
  margin: 0;
}
@media all and (max-width: 800px) {
  .icon-and-title h2 {
    font-size: 46px;
  }
}

/**
  * @description a line separator
  *
  * @markup
  *   <div class="indent-line"></div>
  */
.indent-line {
  margin: 5px 0 5px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid #cccccc;
  clear: both;
}

/**
  * @description global a elements styles
  *
  * @markup
  *   <a href=''></a>
  */
a {
  color: #4f9800;
  text-decoration: none;
}
a:hover {
  color: #db6510;
}
