/**
* @description the preloading animated gif
*
* @markup
*   <div class="portfolio-list"></div>
*/
.portfolio-list {
  display: inline-block;
  position: static;
  width: 25%;
  font-size: 0.8rem;
  vertical-align: top;
  padding: 10px;
  margin: 0 0 0 0;
  float: left;
  background-repeat: repeat;
  background-image: url(../../pattern/stripes_faded2.png);
  z-index: 9999; }
  @media all and (max-width: 1000px) {
    .portfolio-list {
      display: none;
      float: none;
      position: absolute;
      width: 300px;
      height: 100%;
      top: 0px;
      left: 0px;
      margin: 0;
      padding: 0;
      background-color: #ebe4dc;
      z-index: -999;
      border-right: 1px solid #cccccc; } }

.portfolio-container {
  font-size: .9rem;
  width: 70%;
  display: inline-block;
  background-color: #efefef;
  padding: 0;
  margin: 0 0 0 2%;
  float: left; }
  @media all and (max-width: 1000px) {
    .portfolio-container {
      width: 96%; } }
  @media all and (max-width: 800px) {
    .portfolio-container {
      position: absolute;
      float: left;
      left: 0px;
      top: 0px;
      width: 96%;
      z-index: 999;
      margin: 60px 0 0 2%; } }
  @media all and (max-width: 620px) {
    .portfolio-container {
      position: absolute;
      float: left;
      left: 0px;
      top: 0px;
      width: 96%;
      z-index: 999;
      margin: 60px 0 0 2%; } }

.main-content-section {
  clear: both;
  width: 100%;
  height: 100%;
  float: left;
  margin: 0 0 10px 0;
  padding: 0 0 100px 0; }

.image-container {
  width: 100%;
  height: 364px;
  display: block; }

.slide-menu-in {
  left: 301px; }

.animate {
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); }

/**
* @description a diagonal border for images
*
* @markup
*   <div class="striped-border"></div>
*/
.striped-border {
  position: relative;
  overflow: visible;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-image: url(../../pattern/stripes_faded.png);
  padding: 0;
  margin: 0; }
  @media all and (max-width: 1000px) {
    .striped-border {
      width: 634px; } }

img.work-images {
  position: absolute;
  overflow: visible;
  max-width: 100%;
  padding: 0;
  margin: 0;
  top: 15px;
  left: 15px; }

@media all and (max-width: 620px) {
  .striped-border {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    background: transparent; }
    .striped-border img {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      margin: 0;
      padding: 0; } }
/**
* @description container for a text section
*
* @markup
*   <div class="sub"></div>
*/
.sub {
  margin: 10px 0 10px 0; }

/**
* @description sub header in red
*
* @markup
*   <p class="subHeading"></p>
*/
.sub-heading {
  font-weight: bold;
  color: #cb3429;
  font-size: 1rem; }

/**
* @description the text under .subHeading
*
* @markup
*   <p class="details"></p>
*/
/**
* @description the preloading animated gif
*
* @markup
*   <div class="image-preloader"></div>
*/
.image-preloader {
  position: relative;
  overflow: hidden;
  display: block;
  width: 600px;
  height: 335px;
  background: url(../../images/preloader.gif) 50% 50% no-repeat;
  padding: 10px;
  margin: 0; }
  .image-preloader img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none; }
