ul.skillset {
  margin: 0;
  padding: 10px 0;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
ul.skillset li {
  font-size: 14px;
}
@media all and (max-width: 800px) {
  ul.skillset li {
    font-size: 1.4rem !important;
  }
}

.stackable {
  /*border-bottom: 1px solid #666666;*/
  margin: 30px 0;
}
@media all and (max-width: 800px) {
  .stackable {
    padding: 0 5%;
    width: 89%;
  }
}

.job {
  margin: 10px 0 25px 0;
  padding: 0;
}
.job p {
  margin: 0;
  padding: 0;
}
.job .job-title {
  font-size: 16px;
  font-style: italic;
  font-family: Georgia;
}
@media all and (max-width: 800px) {
  .job .job-title {
    font-size: 26px;
  }
}
.job .job-type {
  font-size: 10px;
  color: #4f9800;
  font-weight: bold;
}
.job .job-type.isFullTime {
  color: #db6510;
}
@media all and (max-width: 800px) {
  .job .job-type {
    font-size: 14px;
  }
}
.job .company-name {
  font-size: 16px;
  font-weight: bold;
  color: #696969;
}
@media all and (max-width: 800px) {
  .job .company-name {
    font-size: 20px;
  }
}
.job .dates-at-job {
  text-transform: uppercase;
  font-size: 10px;
}
@media all and (max-width: 800px) {
  .job .dates-at-job {
    font-size: 14px;
  }
}
.job ul {
  margin: 0 0 0 10px;
  padding: 10px 0;
}
@media all and (max-width: 800px) {
  .job ul {
    margin: 0 0 0 25px;
  }
}
.job li {
  font-size: 12px;
}
@media all and (max-width: 800px) {
  .job li {
    font-size: 1.2rem;
  }
}

.resume-icon {
  display: inline-block;
  background: url("../../images/resume-icon.png") no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}
