ul.skillset {
  margin: 0;
  padding: 10px 0;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
@media all and (max-width: 850px) {
  ul.skillset {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    padding: 0 0 0 5%;
  }
}
ul.skillset li.skill-item {
  font-size: 12px;
}
@media all and (max-width: 700px) {
  ul.skillset li.skill-item {
    font-size: 1.2rem;
  }
}

.stackable {
  /*border-bottom: 1px solid #666666;*/
  margin: 30px 0;
}
@media all and (max-width: 850px) {
  .stackable {
    padding: 0 5%;
    width: 90%;
  }
}

.skill {
  color: darkslategrey;
}

.level {
  font-family: 'The Girl Next Door', cursive;
}
.level.basic {
  color: #b0270c;
}
.level.advanced {
  color: #102ad1;
}
.level.expert {
  color: #0fb900;
}

.experience {
  color: #171717;
  font-size: 10px;
}
@media all and (max-width: 850px) {
  .experience {
    font-size: .7rem;
  }
}

.job {
  margin: 10px 0 25px 0;
  padding: 0;
}
.job p {
  margin: 0;
  padding: 0;
}
.job .job-title {
  font-size: 20px;
  font-family: 'The Girl Next Door', cursive;
  line-height: 22px;
}
@media all and (max-width: 850px) {
  .job .job-title {
    font-size: 32px;
  }
}
.job .job-type {
  font-size: 10px;
  color: #4f9800;
  font-weight: bold;
}
.job .job-type.isFullTime {
  color: #db6510;
}
@media all and (max-width: 850px) {
  .job .job-type {
    font-size: 14px;
  }
}
.job .company-name {
  font-size: 16px;
  font-weight: bold;
  color: #696969;
}
@media all and (max-width: 850px) {
  .job .company-name {
    font-size: 20px;
  }
}
.job .dates-at-job {
  text-transform: uppercase;
  font-size: 10px;
}
@media all and (max-width: 850px) {
  .job .dates-at-job {
    font-size: 14px;
  }
}
.job ul {
  margin: 0 0 0 10px;
  padding: 10px 0;
}
@media all and (max-width: 850px) {
  .job ul {
    margin: 0 0 0 25px;
  }
}
.job li {
  font-size: 12px;
}
@media all and (max-width: 700px) {
  .job li {
    font-size: 1.2rem;
  }
}

.resume-icon {
  display: inline-block;
  background: url("../../images/resume-icon.png") no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}
@media all and (max-width: 850px) {
  .resume-icon {
    width: 100px;
    height: 100px;
  }
}
