<nav-menu></nav-menu>
<section id='contact-section' class='main-content-section contact-content'>
  <div class='inner-container'>
    <div class='icon-and-title'>
      <span class='section-icon contact-icon'></span>
      <h2>Contact Info</h2>
    </div>
    <h3>Chester Rivas</h3>
    <h4>Front End Developer</h4>
    <div class='contact-row'>
      <a href='mailto:chester.rivas@gmail.com?Subject=Message%20From%20Crivas.net'><span class='icon email-icon'></span></a>
      <span class='label'><a href='mailto:chester.rivas@gmail.com?Subject=Message%20From%20Crivas.net'>chester.rivas@gmail.com</a></span>
    </div>
    <div class='contact-row'>
      <a href='http://ca.linkedin.com/in/crivasinc' target='_blank'><span class='icon linkedin-icon'></span></a>
      <span class='label'><a href='http://ca.linkedin.com/in/crivasinc' target='_blank'>Chester Rivas</a></span>
    </div>
    <div class='contact-row'>
      <a href='https://github.com/crivas' target='_blank'><span class='icon git-hub-icon'></span></a>
      <span class='label'><a href='https://github.com/crivas' target='_blank'>crivas</a></span>
    </div>
  </div>
</section>