<nav-menu></nav-menu>
<section id='portfolio-section' class='main-content-section portfolio-content'>

  <div class='inner-container'>

    <div class='icon-and-title'>
      <span class='section-icon portfolio-icon'></span>
      <h2>Portfolio</h2>
    </div>

    <!--
    <ul class='portfolio-list'>
        <li ng-repeat='work in workList' ng-show='work.active' ng-click='selectWork($index)'>{{work.menuText}}</li>
    </ul>
    -->

    <div class='portfolio-container' ng-repeat='work in allWorkList | limitTo: max'>
      <h3 class='port-title'>{{work.title}}</h3>

      <h2 class='date-posted'>{{work.datePosted}}</h2>
      <ul class='image-border'>
        <li class='images-list' ng-repeat='image in work.imageURL'>
          <img class='work-images' ng-src='{{image}}'/>
        </li>
      </ul>
      <div class='sub'>
        <p class='sub-heading'>Company</p>
        <p class="details">{{work.companyName}}</p>
      </div>
      <div class='sub'>
        <p class='sub-heading'>Business Case</p>
        <p class="details">{{work.businessCase}}</p>
      </div>
      <div class='sub'>
        <p class='sub-heading'>Details</p>
        <p class="details">{{work.details}}</p>
      </div>
      <div class='sub'>
        <p class='sub-heading'>Technology Used</p>
        <p class="details">{{work.techUsed}}</p>
      </div>
      <a class='launch' ng-href='{{work.url}}' ng-show='work.isOffline' target="_blank">VIEW</a>
    </div>

    <div class='row vertical-padding no-margin'>
      <a class='btn btn-success' ng-click='addMoreItems()'>Add</a>
    </div>


  </div>

</section>