html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: darkslategray;
  min-width: 400px;
  overflow-x: hidden;
}
@media all and (max-width: 700px) {
  body {
    margin: 0;
    padding: 0;
  }
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dppx), (min-resolution: 1.5dppx) {
  body {
    font-size: 18px;
  }
}

.vertical-padding {
  padding: 15px 0;
}

.no-padding {
  padding: 0;
}

.vertical-margin {
  margin: 15px 0;
}

.no-margin {
  margin: 0;
}

/**
* @description container with variable width that is used for inner padding
*/
.inner-container {
  width: 900px;
  margin: 0px auto 0 auto;
  padding: 20px;
  overflow: auto;
}
@media all and (max-width: 1050px) {
  .inner-container {
    width: 100%;
  }
}

ul.plugins-list {
  margin: 0;
  padding: 0 0 30px 0;
  font-size: 12px;
}
ul.plugins-list li {
  list-style: none;
  padding: 5px 0;
}
ul.plugins-list li a {
  font-size: 14px;
  font-weight: bold;
}

.plugins-icon {
  display: inline-block;
  background: url("../images/plugins.png") no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}

/**
* @description main container for all sections
*
* @markup
*   <div class="main-wrapper"></div>
*/
.main-wrapper {
  width: 900px;
  margin: 80px auto 0 auto;
  height: 100%;
  background-color: #f4f4f4;
  /*
  @media all and (max-width: 850px) {
    @include centeredAndFixed(70px);
    height: auto;
    padding: 0;
    z-index: 997;
    float: left;
    position: absolute;
  }
  */
}
@media all and (max-width: 1050px) {
  .main-wrapper {
    width: 100%;
  }
}

@media all and (max-width: 850px) {
  .shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }
}

/**
* @description container for individual section
*
* @markup
*   <div class="main-content-section"></div>
*/
.main-content-section {
  clear: both;
  width: 100%;
  height: auto;
  float: left;
  margin: 80px 0 0 0;
  padding: 0;
}
.main-content-section:last-child {
  padding: 0 0 40px 0;
}

/*p, a {

  font-size: .8rem;

  @media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dppx), (min-resolution: 1.5dppx) {
    font-size: $smallScreenFontSize;
  }

}*/
.horizontal-lines {
  height: 0px;
  border-top: 2px solid #d1d1d1;
  border-bottom: 2px solid white;
  display: block;
}

.vertical-lines {
  width: 0px;
  border-left: 1px solid white;
  border-right: 1px solid #d1d1d1;
  display: block;
}

/**
* @description contains the website logo
*
* @markup
*   <div class="logo"></div>
*
*/
.logo {
  background: url("../images/crivas-logo@2x.png") no-repeat;
  background-size: 151px 80px;
  width: 151px;
  height: 80px;
  display: inline-block;
  float: left;
  /*@media all and (max-width: 1050px){
    margin: 0 0 0 15px;
  }

  @media all and (max-width: 850px) {
    background-size: ($navBarHeightSmall * 1.8875) $navBarHeightSmall;
    width: $navBarHeightSmall * 1.8875;
    height: $navBarHeightSmall;
  }*/
}

/**
 @description contains two elements: a h2 and an icon element

 @markup
   <div class="icon-and-title"></div>
*/
.icon-and-title {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: 75px;
  line-height: 75px;
  margin: 0;
}
.icon-and-title .section-icon {
  vertical-align: middle;
}
.icon-and-title h2 {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 15px;
  margin: 0;
}
@media all and (max-width: 850px) {
  .icon-and-title h2 {
    font-size: 2.0rem;
  }
}
@media all and (max-width: 850px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 850px) and (-o-min-device-pixel-ratio: 1.5), all and (max-width: 850px) and (min-device-pixel-ratio: 1.5), all and (max-width: 850px) and (min-resolution: 144dppx), all and (max-width: 850px) and (min-resolution: 1.5dppx) {
  .icon-and-title h2 {
    font-size: 2.2rem;
  }
}

/**
* @description a line separator
*
* @markup
*   <div class="indent-line"></div>
*/
.indent-line {
  margin: 5px 0 5px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid #cccccc;
  clear: both;
}
