@import "variables";
@import "mixins";

.column {

  display: inline-block;
  width: 49%;
  vertical-align: top;
  line-height: $iconWidth;
  padding: 15px 0;

  @media #{$mediumBreakpoint} {
    display: block;
    width: 100%;
  }

  .icon-and-title {

    height: $columnHeader;
    line-height: $columnHeader;
    vertical-align: top;

    @media #{$mediumBreakpoint} {
      padding: 0;
    }

    .section-icon {
      vertical-align: top;
    }

    h2 {
      vertical-align: top;
      padding: 0 0 0 15px;
      height: auto;
      line-height: auto;
    }

  }

}

.icon {
  display: inline-block;
  width: $iconWidth;
  height: $iconWidth;
  background-size: $iconWidth;
  -webkit-background-size: $iconWidth;
  vertical-align: middle;
  padding: 0;
  margin: 0 15px 0 0;
}

.email-icon {
  background-image: url("../../icons/email-icon.png");
}

.git-hub-icon {
  background-image: url("../../icons/github-icon.png");
}

.linkedin-icon {
  background-image: url("../../icons/linkedin-icon.png");
}

.label {
  height: $iconWidth;
  line-height: $iconWidth;
  vertical-align: middle;
}

.contact-row {
  height: $iconWidth;
  padding: 10px 0;
}

.contact-icon {
  display: inline-block;
  background: url('../../images/about-icon.png') no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}

label {
  @media #{$mediumBreakpoint} {
    font-size: 20px;
    padding: 10px;
  }
}

input, textarea {
  width: 98%;
  padding: 2px;
  @media #{$mediumBreakpoint} {
    width: 96%;
    font-size: 20px;
    padding: 10px;
  }
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
}

form {
  width: 100%;
}