@import "variables";
@import "mixins";

html {
  font-size: 100%;
  @media #{$smallBreakpoint} {
    font-size: 150%;
  }
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 100%;
  background-color: $bodyColour;
  color: $slateGrey;
  min-width: 400px;
  @media #{$smallBreakpoint} {
    margin: 0;
    padding: 0;
  }
}

/**
* @description TODO
*
* @markup
*   <div class="portfolio-content"></div>
*/
.portfolio-content {
  margin: 0;
  padding: 0;
}

/**
* @description main container for all sections
*
* @markup
*   <div class="main-wrapper"></div>
*/
.main-wrapper {
  @include centeredAndFixed();
  height: 100%;

  @media #{$smallBreakpoint} {
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 997;
  }
}

/**
  * @name Button
  * @description Your standard form button.
  *
  * @state :hover - Highlights when hovering.
  *
  * @markup
  *   <button>This is a button</button>
  */
button {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: .8rem;
  width: 100%;
  margin: 0;
  padding: 5px;
  background-color: #ece5dd;
  border: none;
  text-align: left;
  @media #{$mediumBreakpoint} {
    padding: 10px 5px;
  }

  @media #{$smallBreakpoint} {
    background-color: $bodyColour;
  }
}

button:hover {
  background-color: $darkRed;
  color: $white;
  background-repeat: repeat;
  background-image: url(../../pattern/stripes_faded2.png);
}

p {
  font-size: .8rem;
}

////////////////////////////////////////


.horizontal-lines {
  height: 0px;
  border-top: 2px solid $offwhite;
  border-bottom: 2px solid $white;
  display: block;
}

.vertical-lines {
  width: 0px;
  border-left: 1px solid $white;
  border-right: 1px solid $offwhite;
  display: block;
}

/**
* @description contains the website logo
*
* @markup
*   <div class="logo"></div>
*/
.logo {
  background: url('../../images/crivas-logo.png') no-repeat;
  width: 216px;
  height: 80px;
  display: inline-block;
  float: left;
  @media #{$mediumBreakpoint} {
    border-left: 1px solid $white;
  }
  @media #{$retinaBreakpoint} {
    background: url('../../images/crivas-logo@2x.png') no-repeat;
    width: 216px;
    height: 80px;
  }
}


/**
* @description resusable launch button
*
* @markup
*   <div class="launch"></div>
*/
.launch {

  margin: 20px 0 0 0;

  a {
    cursor: pointer;
    color: #EEEEEE;
    text-decoration: none;
    background-color: #333333;
    padding : 10px;
    background-repeat: repeat;
    background-image: url(../../pattern/stripes_faded2.png);
    -moz-box-shadow: 0 0 3px #000000;
    -webkit-box-shadow: 0 0 3px #000000;
    box-shadow: 0 0 3px #000000;
    @media #{$smallBreakpoint} {
      width: 100%;
      display: inline-block;
      text-align: center;
      padding : 10px 0;
      margin: 0 auto;
    }
  }

  a:hover {
    color : #FFFFFF;
    text-decoration : none;
    background-color: $darkRed;
    padding : 10px;
    background-repeat: repeat;
    background-image: url(../../pattern/stripes_faded2.png);
    margin : 0px;
    box-shadow : 0 0 4px #333333;
    //@include gradient();
    @media #{$smallBreakpoint} {
      padding : 10px 0;
      margin: 0 auto;
    }
  }
}

/**
  * @description a line separator
  *
  * @markup
  *   <div class="indentLine"></div>
  */
.indent-line {
  margin: 20px 0 0 0;
  border-top: 1px solid $white;
  border-bottom: 1px solid $mediumGrey;
}
