@import "variables";
@import "mixins";

html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $bodyColour;
  color: $slateGrey;
  min-width: 400px;
  overflow-x: hidden;
  opacity: 0;
  @media #{$smallBreakpoint} {
    margin: 0;
    padding: 0;
  }

  @media #{$retinaBreakpoint} {
    font-size: $smallScreenFontSize;
  }
}

.inner-container {
  width: auto;
  padding: 10px;
  //background-color: rgba(red, .5);
  overflow: auto;
  @media #{$mediumBreakpoint} {
    padding: 10px 25px;
  }
}

ul.plugins-list {
  margin: 0;
  padding: 0 0 30px 0;
  font-size: 12px;
  li {
    list-style: none;
    padding: 5px 0;
    a {
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.plugins-icon {
  display: inline-block;
  background: url('../../images/about-icon.png') no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}

/**
* @description main container for all sections
*
* @markup
*   <div class="main-wrapper"></div>
*/
.main-wrapper {

  @include centeredAndFixed(80px);
  height: 100%;
  background-color: $bodyColour;

  @media #{$mediumBreakpoint} {
    @include centeredAndFixed(50px);
    height: auto;
    padding: 0;
    z-index: 997;
    float: left;
    position: absolute;
  }

}

.shadow {
  @media #{$mediumBreakpoint} {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    //@include dropShadow(0, 10px, 3px, 3px, #000000);
    @include dropShadow(0, 0, 10px, 5px, rgba(0,0,0,.3));
  }
}

/**
* @description container for individual section
*
* @markup
*   <div class="main-content-section"></div>
*/
.main-content-section {

  clear: both;
  width: 100%;
  height: auto;
  float: left;
  margin: 0;
  padding: 0;

  /*
  @media #{$largeBreakpoint} {
    clear: both;
    width: 80%;
    height: auto;
    float: left;
    margin: 0 0 10px 0;
    padding: 0 10% 100px 10%;
  }

  @media #{$mediumBreakpoint} {
    position: static;
    float: left;
    left: 0px;
    top: 0px;
    width: 98%;
    height: auto;
    z-index: 999;
    margin: 0;
    padding: 0 1%;
  }

  @media #{$smallBreakpoint} {
    position: static;
    float: left;
    left: 0px;
    top: 0px;
    width: 98%;
    height: auto;
    z-index: 999;
    margin: 0;
    padding: 0 1%;
  }
  */

}

p, a {

  font-size: .8rem;

  @media #{$retinaBreakpoint} {
    font-size: $smallScreenFontSize;
  }

}

////////////////////////////////////////

.horizontal-lines {
  height: 0px;
  border-top: 2px solid $offwhite;
  border-bottom: 2px solid $white;
  display: block;
}

.vertical-lines {
  width: 0px;
  border-left: 1px solid $white;
  border-right: 1px solid $offwhite;
  display: block;
}

/**
* @description contains the website logo
*
* @markup
*   <div class="logo"></div>
*
*/
.logo {

  background: url('../../images/crivas-logo@2x.png') no-repeat;
  background-size: ($navBarHeightLarge * 1.8875) $navBarHeightLarge;
  width: 151px;
  height: 80px;
  display: inline-block;
  float: left;

  @media #{$largeBreakpoint}{
    margin: 0 0 0 15px;
  }

  @media #{$mediumBreakpoint} {
    background-size: ($navBarHeightSmall * 1.8875) $navBarHeightSmall;
    width: $navBarHeightSmall * 1.8875;
    height: $navBarHeightSmall;
  }

}

/**
* @description resusable launch button
*
* @markup
*   <div class="launch"></div>
*/
.launch {

  display: block;
  height: 40px;
  padding: 5px;
  margin: 0;

  @media #{$smallBreakpoint} {
    height: auto;
    margin: 10px 0 0 0;
  }

  a {
    cursor: pointer;
    color: #EEEEEE;
    text-decoration: none;
    background-color: #333333;
    padding: 10px;
    background-repeat: repeat;
    background-image: url('../../pattern/tweed.png');
    @include dropShadow(0, 0, 5px, 1px, rgba(#000000, .3));
    @media #{$smallBreakpoint} {
      width: 50%;
      display: inline-block;
      text-align: center;
      padding: 10px 0;
      margin: 0 auto;
    }
  }

  a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: $darkRed;
    padding: 10px;
    background-repeat: repeat;
    background-image: url('../../pattern/tweed-over.png');
    margin: 0px;
    @include dropShadow(0, 0, 5px, 1px, rgba(#000000, .3));
    @media #{$smallBreakpoint} {
      padding: 10px 0;
      margin: 0 auto;
    }
  }
}

/**
  * @description contains two elements: a h2 and an icon element
  *
  * @markup
  *   <div class="icon-and-title"></div>
  */
.icon-and-title {

  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: 90px;
  line-height: 90px;
  margin: 0;

  /*
  @media #{$mediumBreakpoint} {
    padding: 0 5%;
    width: 90%;
    margin: 30px 0 0 0;
  }
  */

  .section-icon {
    vertical-align: middle;
  }

  h2 {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 15px;
    margin: 0;
    @media #{$mediumBreakpoint} {
      font-size: 2.0rem;
      @media #{$retinaBreakpoint} {
        font-size: 2.2rem;
      }
    }

  }

}

/**
  * @description a line separator
  *
  * @markup
  *   <div class="indent-line"></div>
  */
.indent-line {
  margin: 5px 0 5px 0;
  border-top: 1px solid $white;
  border-bottom: 1px solid $mediumGrey;
  clear: both;
}

/**
  * @description global a elements styles
  *
  * @markup
  *   <a href=''></a>
  */
a {

  color: $green;

  &:hover {
    color: $orange;
  }

  text-decoration: none;

}

//////////////////////