@import "variables";
@import "mixins";

/**
* @description the nav bar header which spans 100% of the width
*
* @markup
*   <div class="nav-bar"></div>
*/
.nav-bar {

  height: $navBarHeightLarge;
  width: 100%;
  /*@include gradient($lightGrey,$lightGrey,$lightGrey);*/
  background: url('../../pattern/squairy_light.png') repeat;
  border-bottom: 1px $headerColour solid;
  position: fixed;
  z-index: 99;
  top: 0px;
  @include dropShadow(0, 0, 10, 5, rgba(0,0,0,.3));

  @media #{$mediumBreakpoint} {
    height: $navBarHeightSmall;
    z-index: 998;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  @media #{$smallBreakpoint} {
    height: $navBarHeightSmall;
    z-index: 998;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  @media #{$retinaBreakpoint} {
    background: url('../../pattern/squairy_light_@2X.png') repeat;
  }

}

/**
* @description the container which has a max width
*
* @markup
*   <div class="nav-bar-fixed"></div>
*/
.nav-bar-fixed {

  @include centeredAndFixed(0px);
  vertical-align: middle;

}

/**
* @description button that only appears in medium and small mode
*
* @markup
*   <div class="open-small-menu">
*      <div class="horizontal-groove"></div>
*   </div>
*/
.open-small-menu {

  display: none;

  .horizontal-groove {
    margin: 14px 10px -12px 10px;
    background-color: #cecece;
    height: 2px;
    border-radius: 4px;
    border: 2px inset #eeeeee;
  }

  @media #{$mediumBreakpoint} {
    float: left;
    cursor: pointer;
    margin: 0px 0px;
    display: inline-block;
    width: $navBarHeightSmall;
    height: $navBarHeightSmall;
    border-right: 2px solid $offwhite;
  }

}


/**
* @description the main menu styles
*
* @markup
*   <ul class="main-menu">
*/
ul.main-menu {

  display: inline-block;
  position: fixed;
  vertical-align: middle;
  float: right;
  height: $navBarHeightLarge;
  margin: 0 5px 0 0;
  padding: 0;
  border-bottom: solid 1px #c6c6c6;
  z-index: 997;
  top: 0px;
  right: 0px;

  @media #{$mediumBreakpoint} {
    position: fixed;
    float: left;
    display: block;
    left: 0px;
    top: 0px;
    z-index: -9;
    background-color: $offwhite;
    border-bottom: none;
    width: 100%;
    height: 100%;
  }

  @media #{$smallBreakpoint} {
    position: fixed;
    float: left;
    display: block;
    left: 0px;
    top: 0px;
    z-index: -9;
    background-color: $offwhite;
    border-bottom: none;
    width: 100%;
    height: 100%;
  }

  li {

    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0 20px;
    cursor: pointer;
    height: $navBarHeightLarge;
    line-height: $navBarHeightLarge;
    text-align: center;

    @media #{$mediumBreakpoint} {
      border-left: 3px rgba(0,0,0,0) solid;
      border-bottom: none;
    }


    @media #{$mediumBreakpoint} {
      display: block;
      z-index: -999;
      text-align: left;
    }

    &:hover {
      border-left: none;
      border-bottom: 3px $darkRed solid;
      @media #{$mediumBreakpoint} {
        border-left: 3px $darkRed solid;
        border-bottom: none;
      }
    }

    &.selected {
      border-left: none;
      border-bottom: 3px $green solid;
      @media #{$mediumBreakpoint} {
        border-left: 3px $green solid;
        border-bottom: none;
      }
    }

  }

}

@media #{$mediumBreakpoint} {
  ul.main-menu {
    //@include dropShadow(0, 4, 20, 0, #333333);
  }
}

@media #{$smallBreakpoint} {
  ul.main-menu {
    width: 100%;
    height: $navBarHeightLarge;
    margin: 0;
    padding: 0;
    background-color: $bodyColour;
    @include dropShadow(0, 4, 20, 0, #333333);

    li {
      width: 32.4%;
      margin: 0;
      padding: 0;
    }

  }

}