@import "variables";
@import "mixins";

/////////////////////

/**
* @description the preloading animated gif
*
* @markup
*   <div class="portfolio-list"></div>
*/
ul.portfolio-list {

  display: inline-block;
  position: static;
  width: 25%;
  font-size: 0.8rem;
  vertical-align: top;
  padding: 0;
  margin: 0;
  float: left;
  /*
  background-repeat: repeat;
  background-image: url(../../pattern/stripes_faded2.png);
  */
  border: white solid 10px;
  z-index: 9999;

  li {
    padding: 5px;
    margin: 0;
    list-style: none;
    cursor: pointer;
  }

  li:hover {
    background-color: $darkRed;
    color: $white;
    background-repeat: repeat;
    background-image: url(../../pattern/stripes_faded2.png);
  }

  &.small-menu {
    display: none;
  }

  @media #{$largeBreakpoint} {
    display: none;
    float: none;
    position: absolute;
    width: 300px;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    z-index: -999;
    border-right: 1px solid $mediumGrey;
  }

}

.portfolio-icon {
  display: inline-block;
  background: url('../../images/portfolio-icon.png') no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}

.port-title {
  padding: 0 0 20px 0;
}

/////////////////////

.portfolio-container {

  width: 70%;
  display: inline-block;
  padding: 0;
  margin: 0 0 0 2%;
  float: left;

  @media #{$largeBreakpoint} {
    width: 100%;
  }

  @media #{$mediumBreakpoint} {
    margin: 0;
    padding: 0 5%;
    width: 89%;
  }

}

.port-title {

}

.slide-menu-in {

}

.animate {
  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -ms-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.image-container {
  width: 600px;
  height: 334px;
  padding: 0;
  margin: 0 0 30px 0;
  display: block;
  float: left;
  border: 10px solid white;
  clear: both;
  @media #{$largeBreakpoint} {
    float: none;
  }
}

/**
* @description a diagonal border for images
*
* @markup
*   <div class="striped-border"></div>
*/
ul.image-border {

  position: relative;
  overflow: visible;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;

  li.images-list {

    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

  }

  @media #{$mediumBreakpoint} {

    width: 100%;

  }

}

img.work-images {

  position: absolute;
  max-width: 100%;

  @media #{$mediumBreakpoint} {
    max-width: 100%;
  }

}

/**
* @description container for a text section
*
* @markup
*   <div class="sub"></div>
*/
.sub {
  margin: 10px 0 10px 0;
  @media #{$mediumBreakpoint} {
    margin: 0;
  }
}

/**
* @description sub header in red
*
* @markup
*   <p class="subHeading"></p>
*/
.sub-heading {
  font-weight: bold;
  color: $darkRed;
  font-size: 1rem;
  @media #{$mediumBreakpoint} {
    font-size: $smallScreenFontSize;
  }
}

/**
* @description the text under .subHeading
*
* @markup
*   <p class="details"></p>
*/
.details {

}

/**
* @description the preloading animated gif
*
* @markup
*   <div class="image-preloader"></div>
*/
.image-preloader {
  position: relative;
  overflow: hidden;
  display: block;
  width: 600px;
  height: 335px;
  background: url(../../images/preloader.gif) 50% 50% no-repeat;
  padding: 10px;
  margin: 0;

  img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
}

