

.skillset {

  margin: 0;
  padding: 0;

  -moz-column-count: 2; /* Firefox */
  -webkit-column-count: 2; /* Safari and Chrome */
  column-count: 2;

  li {
    font-size: 12px;
  }
}

.stackable {
  /*border-bottom: 1px solid #666666;*/
}

.job {

  margin: 10px 0 0 0;
  padding: 0;

  p {
    margin: 0;
    padding: 0;
  }

  .job-title {
    font-size: 16px;
    font-style: italic;
    font-family: Georgia;
  }

  .job-type {
    font-size: 10px;
  }

  .company-name {
    font-size: 14px;
    font-weight: bold;
    color: #696969;
  }

  .dates-at-job {
    text-transform: uppercase;
    font-size: 10px;
  }

  li {
    font-size: 11px;
  }

}