$blue: #3f769b;
$darkRed: #cb3429;
$headerColour: #d3d3d3;
$bodyColour: #efefef;
$shadowColour: #b9b9b9;
$slateGrey: #2f4f4f;

$green: #4f9800;
$orange: #db6510;


//breakpoint values
$smallSize: 620px;
$mediumSize: 800px;
$largeSize: 1000px;

$maxWidth: 900px;

//breakpoint definition string incorporating breakpoint values
$smallBreakpoint: "all and (max-width: " + $smallSize + ")";
$mediumBreakpoint: "all and (max-width: " + $mediumSize + ")";
$largeBreakpoint: "all and (max-width: " + $largeSize + ")";
$retinaBreakpoint: "all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)";

$buttonBase1: #87e0fd;
$buttonBase2: #53cbf1;
$buttonBase3: #05abe0;

$white: #ffffff;
$offwhite: #d1d1d1;
$lightGrey: #eeeeee;
$mediumGrey: #cccccc;

$navBarHeightLarge: 80px;
$navBarHeightSmall: 50px;