@import "variables";
@import "mixins";

h1, h2, h3, h4, h5 {
  font-family: 'Bitter', cursive;
  padding: 0;
  margin: 0;
  line-height: auto;
}


/* Header 1

    <h1>Example</h1>
*/
h1 {
  text-decoration: underline;
  font-size: 1.6rem;
  @media #{$retinaBreakpoint} {
    font-size: 2rem;
  }
}


/* Header 2

    <h2>Example</h2>
*/
h2 {
  padding: 20px 0 0 0;
  font-size: 1.5rem;
  @media #{$retinaBreakpoint} {
    font-size: 1.65rem;
  }
}


/* Provides extra visual weight and identifies the primary action in a set of buttons.

    <h3>Example</h3>
*/
h3 {
  padding: 0 0;
  font-family: 'Bitter', cursive;
  font-size: 1.4rem;
  font-weight: normal;
  color: $darkRed;
  text-decoration: underline;
  @media #{$retinaBreakpoint} {
    font-size: 1.8rem;
  }
}


/* Red Box

    <div class='red-box'>Red Box</div>
*/
.red-box {
  width: 200px;
  height: 200px;
  background-color: red;
  display: block;
}