@import "variables";
@import "mixins";

html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: $bodyColour;
  color: $slateGrey;
  min-width: 400px;
  overflow-x: hidden;
  @media #{$smallBreakpoint} {
    margin: 0;
    padding: 0;
  }
  @media #{$retinaBreakpoint} {
    font-size: $smallScreenFontSize;
  }
}

.vertical-padding {
  padding: 15px 0;
}

.no-padding {
  padding: 0;
}

.vertical-margin {
  margin: 15px 0;
}

.no-margin {
  margin: 0;
}

/**
* @description container with variable width that is used for inner padding
*/
.inner-container {
  //width: auto;
  @include centeredAndFixed(0px);
  padding: 20px;
  overflow: auto;
}

ul.plugins-list {
  margin: 0;
  padding: 0 0 30px 0;
  font-size: 12px;
  li {
    list-style: none;
    padding: 5px 0;
    a {
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.plugins-icon {
  display: inline-block;
  background: url('../images/plugins.png') no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}

/**
* @description main container for all sections
*
* @markup
*   <div class="main-wrapper"></div>
*/
.main-wrapper {

  @include centeredAndFixed(80px);
  height: 100%;
  //background-color: $bodyColour;
  background-color: $bodyColour;

  /*
  @media #{$mediumBreakpoint} {
    @include centeredAndFixed(70px);
    height: auto;
    padding: 0;
    z-index: 997;
    float: left;
    position: absolute;
  }
  */

}

.shadow {
  @media #{$mediumBreakpoint} {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    @include dropShadow(0, 0, 10px, 5px, rgba(0, 0, 0, .3));
  }
}

/**
* @description container for individual section
*
* @markup
*   <div class="main-content-section"></div>
*/
.main-content-section {

  clear: both;
  width: 100%;
  height: auto;
  float: left;
  margin: 80px 0 0 0;
  padding: 0;

  &:last-child {
    padding: 0 0 40px 0;
  }

}

/*p, a {

  font-size: .8rem;

  @media #{$retinaBreakpoint} {
    font-size: $smallScreenFontSize;
  }

}*/

////////////////////////////////////////

.horizontal-lines {
  height: 0px;
  border-top: 2px solid $offwhite;
  border-bottom: 2px solid $white;
  display: block;
}

.vertical-lines {
  width: 0px;
  border-left: 1px solid $white;
  border-right: 1px solid $offwhite;
  display: block;
}

/**
* @description contains the website logo
*
* @markup
*   <div class="logo"></div>
*
*/
.logo {

  background: url('../images/crivas-logo@2x.png') no-repeat;
  background-size: ($navBarHeightLarge * 1.8875) $navBarHeightLarge;
  width: 151px;
  height: 80px;
  display: inline-block;
  float: left;
  //position: absolute;
  //top: 0px;

  /*@media #{$largeBreakpoint}{
    margin: 0 0 0 15px;
  }

  @media #{$mediumBreakpoint} {
    background-size: ($navBarHeightSmall * 1.8875) $navBarHeightSmall;
    width: $navBarHeightSmall * 1.8875;
    height: $navBarHeightSmall;
  }*/

}

/**
 @description contains two elements: a h2 and an icon element

 @markup
   <div class="icon-and-title"></div>
*/
.icon-and-title {

  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: 75px;
  line-height: 75px;
  margin: 0;

  .section-icon {
    vertical-align: middle;
  }

  h2 {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 15px;
    margin: 0;
    @media #{$mediumBreakpoint} {
      font-size: 2.0rem;
      @media #{$retinaBreakpoint} {
        font-size: 2.2rem;
      }
    }

  }

}

/**
* @description a line separator
*
* @markup
*   <div class="indent-line"></div>
*/
.indent-line {
  margin: 5px 0 5px 0;
  border-top: 1px solid $white;
  border-bottom: 1px solid $mediumGrey;
  clear: both;
}

//////////////////////